.modal {
  display: none;
}

.modal--opened {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  background-color: rgba($color-default-black, 0.8);
}

.modal__content {
  position: relative;
  background-color: $color-default-white;
  width: 290px;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 16px;

  @include vp-768 {
    width: 350px;
    padding: 60px 80px;
    gap: 30px;
  }
}

.modal__text {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-size: 18px;
    color: $color-blue;
    line-height: 18px;
    font-weight: 400;

    @include vp-768 {
      font-size: 28px;
      line-height: 28px;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    @include vp-768 {
      font-size: 14px;
    }
  }
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  @include vp-768 {
    margin-bottom: 30px;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include vp-768 {
    gap: 20px;
  }
}

.modal__wrapper {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 23px 15px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: $color-transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;


  @include vp-768 {
    top: 30px;
    right: 30px;
  }
}

.custom-input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;

  input {
    padding: 12px 20px;
    display: flex;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    border-radius: 8px;
    border: 1px solid rgba(72, 72, 72, 0.3);
    height: 18px;
    transition: border 0.3s ease;

    @include vp-768 {
      height: 24px;
    }

    &:hover {
      border: 1px solid #484848;
    }

    &:focus {
      border: 1px solid #484848;
    }
  }

  label {
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;

    @include vp-768 {
      line-height: 20px;
    }
  }
}

.custom-input--checkbox {
  flex-direction: row;

  span {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
}

.select {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  padding: 17px 40px 17px 20px;
  border: 1px solid rgba(72, 72, 72, 0.3);
  border-radius: 8px;
  display: flex;
  height: 14px;
  cursor: pointer;
}

.select-wrapper {
  position: relative;

  // svg {
  //   position: absolute;
  //   top: 17px;
  //   right: 20px;
  // }
}

.select__list {
  display: none;
  position: absolute;
  top: calc(100% + 4px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid rgba(72, 72, 72, 0.3);
  border-radius: 8px;
  width: 100%;
  z-index: 5;
  background-color: $color-default-white;

  .select__item {
    padding: 17px 20px;
    cursor: pointer;


    &:hover {
      background-color: $color-blue;
      color: $color-default-white;
    }
  }
}

.select__item:nth-child(1) {
  border-radius: 8px 8px 0 0;
}

.select__item:nth-last-child(1) {
  border-radius: 0 0 8px 8px;
}

.select__list--visible {
  display: block;
}

.form__name-lable {
  display: flex;
  align-items: center;
}

.form__marck {
  display: flex;
  padding: 4px;
  height: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid $color-blue;
  background-color: $color-default-white;
  margin-right: 10px;
}

.form__checkbox-input[type="checkbox"]:checked+.form__marck {
  background-color: $color-blue;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  line-height: 9px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  padding: 15.5px 56.5px 15.5px 20px;
  background-color: $color-default-white;
  border: 1px solid $color-blue;
  border-radius: 30px;
  color: $color-text-blue;

  @include vp-768 {
    padding: 18px 80px 18px 30px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }

  svg {
    position: absolute;
    right: 15.5px;

    @include vp-768 {
      right: 20.5px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    background-color: $color-blue;
    border-radius: 50px;
    right: 3px;
    top: 3px;

    @include vp-768 {
      width: 46px;
      height: 46px;
      top: 2px;
    }
  }
}

.button__form {
  padding-left: 30px;
  padding-right: 68px;
  justify-content: center;
  width: 100%;

  @include vp-768 {
    width: 194px;
    margin: 0 auto;
  }
}

.scroll-off {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
