// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Typography

$ff-placeholder:                    "Manrope", "Arial", sans-serif;
$fz-default:                        16px;
$color-text-dark:                   #484848;
$color-text-light:                  #F0EFE9;
$color-text-blue:                   #316DC2;
$color-blue:                        #316DC2;


// Viewports

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1440:                           1440px;


